.#{$namespace}section-articles {
  background-color: $purplish-grey;

    .#{$namespace}article-text {
      color: v('brand-grey-dark');
    }

  .grid {
    @include media-breakpoint-up('md') {
      grid-template-columns: 1fr 1fr;
    }
    @include media-breakpoint-between('xs', 'md') {
      grid-template-columns: 1fr;
      grid-row-gap: v('space-lg');
    }

    @include media-breakpoint-up('lg') {
      grid-template-columns: $homepage-fixed-width-lg 1fr;
    }
    @include media-breakpoint-up('xxl') {
      .#{$namespace}trending-articles {
        padding: 0 v('space-xxl');
      }

      .#{$namespace}article-list {
        max-width: 40rem;

        .#{$namespace}article-link {
          margin-bottom: v('space-lg');
        }

        .#{$namespace}article-heading {
          font-size: v('text-sm');
          font-weight: 600;
        }
      }
    }
  }
}