$height-abstract-bg: 15rem;

.hc-homepage-abstract-img {
  pointer-events: none;
  display: block;
  width: auto;
  height: $height-abstract-bg;
  position: absolute;
  z-index: 0;
  top: -4.5rem;
  opacity: 0.5;
  left: -4rem;

  @include media-breakpoint-up('lg') {
    top: -8.5rem;
  }

  > img {
    height: 100%;
  }

  ~ * {
    z-index: 1;
    position: relative;
  }

  ~ .grid {

    @include media-breakpoint-up('lg') {
      margin-top: v('space-xxl');

      .hc-usps-group {
        margin-bottom: $height-abstract-bg / 4;
      }
    }
  }
}