.#{$namespace}section-companion {

  .#{$namespace}trending-articles {
    .#{$namespace}article-link {
      @include box-shadow(none);
      padding: v('component-padding');
      background-color: #fbfbfb;
      border: 1px solid #fbfbfb;
      border-radius: $border-radius-xs;
      margin-bottom: $list-group-item-margin-bottom;

      &:hover {
        border-color: #e4e4e4;
      }

      &.active {
        background-color: v('brand-white');
        border: 1px solid $border-bottom-color;

        &:hover {
          border-color: darken($border-bottom-color,20%);
        }
      }

      .#{$namespace}article-tagline {
        white-space: unset;
      }
    }
  }

  .grid {
    margin-top: var(--space-xxl);
    grid-template-columns: minmax(0, 1fr);
    @include media-breakpoint-between('md', 'xlg') {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }
    @include media-breakpoint-up('lg') {
      grid-template-columns: $homepage-fixed-width-lg minmax(0, 1fr);
    }
    @include media-breakpoint-up('xxl') {
      .#{$namespace}homepage-content {
        padding: 0 v('space-xxl');

        .hc-article-list-item {
          margin-bottom: v('space-xl');
        }
      }
    }
  }
}