$hc-hero-gradient-start: #1C365F;
$hc-hero-gradient-end: #0060AA;
$hc-news-heading-color: var(--brand-secondary);
$hc-wave-bg-height: 142px;

.#{$namespace}hero {
  position: relative;
  background-color: #12467B;
  @include scrim-gradient('to bottom',$hc-hero-gradient-start);

  @include media-breakpoint-up('lg') {
    padding-bottom: 0 !important;
  }

  .grid {
    // grid-template-columns: 1fr;
    grid-template-columns: repeat(12, minmax(0,1fr));

    @include media-breakpoint-up('sm') {
      // grid-template-columns: 1fr 30%;
    }

    @include media-breakpoint-up('xl') {
      
    }
  }

  &-container {
    @extend 
      %d-flex,
      %align-items-center;
    position: relative;
    z-index: 3;
    grid-column: span 12;

    @include media-breakpoint-up('lg') {
      grid-column: span 8;
    }

    @include media-breakpoint-up('xxl') {
      grid-column: span 6;
    }
  }

  &-row {
    width: 100%;
    .hc-hero-lead {
      margin-bottom: v('space-md');
      @include media-breakpoint-down('sm') {
        margin-bottom: v('space-md');
        text-align: center;
      }

      @include media-breakpoint-down('lg') {
        font-size: 40px;
        font-weight: 300;
      }
    }
  }

  &-background {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    width: 100%;
    height: $hc-wave-bg-height;
    z-index: 1;

    &::before, &::after {
      content: '';
      height: $hc-wave-bg-height + 16;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
    }

    &::before {
      grid-column: span 8;
      background-image: $wave-shape-bg-white-1;
      background-position: left top;
    }

    &::after {
      grid-column: span 4;
      background-image: $wave-shape-bg-white-2;
      background-position: right top;
    }
  }

  &-image { 
    // display: none;
    position: absolute;
    top: 0;
    z-index: 2;

    @include media-breakpoint-up('xl') {
      height: 560px;
      left: 48%;
    }

    @include media-breakpoint-up('xxl') {
      height: 600px;
      left: 45%;
    }

    @include media-breakpoint-up('xxxl') {
      height: 600px;
      left: 50%;
    }

    @include media-breakpoint-up('ultra') {
      height: 660px;
    }

    > img {
      width: auto;
      height: 100%;
    }
  }

  // LEAP logo shape vector sitting behind the hero image
  &::after {
    content: '';
    position: absolute;
    display: block;
    left: 5%;
    right: 5%;
    top: 0;
    bottom: 0;
    z-index: 0;
    background-image: $hero-shape-bg;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: right;
    opacity: 1;
    z-index: 0;

    @include media-breakpoint-down('md') {
      background-size: 80%;
    }
  }
}

@include media-breakpoint-down('md') {
  .#{$namespace}hero-image,
  .#{$namespace}hero-background {
    display: none !important;
  } 
}

.#{$namespace}news-heading {
  color: $hc-news-heading-color;
  text-transform: uppercase;
  font-size: v('text-xs');
}

.#{$namespace}news-content {
  margin-bottom: v('')
  li {
    margin-bottom: v('grid-gap');
  }
  a {
    color: lighten($primary, 70%);
    display: inline-block;
    &:hover {
      @include box-shadow(0 1px 0 0 lighten($primary, 70%));
    }
  }
}