.#{$namespace}section-articles {
  background-color: $purplish-grey;

  .#{$namespace}article-text {
    color: v('brand-grey-dark');
  }

  .#{$namespace}trending-articles .#{$namespace}article-link {
    padding: v('space-lg');
    border-radius: $border-radius;
    border-bottom: none;
    margin-bottom: 0;

    &:not(:first-of-type) {
      border-bottom: 1px solid #e3e3e3;
      @include transition(background-color, $easing);
      &:hover {
        @include transition(background-color, $easing);
        background-color: darken($purplish-grey,3%);
      }
    }

    &:last-of-type {
      border-bottom: none;
    }
  }

  .grid {
    @include media-breakpoint-up('md') {
      grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    }

    @include media-breakpoint-up('lg') {
      grid-template-columns: $homepage-fixed-width-lg minmax(0,1fr);
    }

    @include media-breakpoint-down('lg') {
      grid-template-columns: minmax(0,1fr);
      grid-row-gap: v('grid-gap');
    }

    @include media-breakpoint-between('md','lg') {
      .#{$namespace}spotlights {
        display: grid;
        grid-template-columns: repeat(3,minmax(0,1fr));
        grid-gap: v('grid-gap');
      }

      .#{$namespace}spotlight-card-thumbnail {
        width: 100%;
      }

      .#{$namespace}card-line-top::before {
        margin-left: 0;
      }
    }
  }

  @include media-breakpoint-up('xxl') {
    .#{$namespace}trending-articles {
      padding: 0 v('space-xxl');
    }

    .#{$namespace}article-list {
      &.#{$namespace}article-pinned > *:first-child {
        .#{$namespace}article-heading {
          font-size: v('text-md');
          font-weight: 600;
        }
      }

      .#{$namespace}article-link {
        
      }

      .#{$namespace}article-heading {
        font-size: v('text-sm');
      }
    }
  }

  .#{$namespace}article-pinned {
    > *:first-child {
      @include box-shadow(0 0px 0px 0.0625rem #ececec);
      position: relative;
      margin-bottom: 0.25rem;
      
      &::after {
        @extend %pseudo-element-absolute;
        width: 4rem;
        height: 4rem;
        top: -0.75rem;
        right: 0.75rem;
        background-image: $pin-bg;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
      }

    }
  }
}