.#{$namespace}usps {
  // margin-top: $hc-hero-image-negative-offset;
  &-group {
    list-style: none;
    margin-left: 0;
    margin-bottom: v('space-xxl');
    margin-top: v('space-xxl');
    padding-left: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: v('grid-gap');

    > li {
      grid-column: span 4;
      &:last-of-type .#{$namespace}usps-item {
        border-bottom: none;
        padding-bottom: 0;
      }
    }

    @include media-breakpoint-down('sm') {
      grid-template-columns: 1fr;
      grid-row-gap: v('grid-gap');
    }
  }

  &-item {
    display: flex;
    align-items: center;
    @include media-breakpoint-down('sm') {
      border-bottom: 1px solid v('brand-light-grey');
      padding-bottom: var(--space-lg);
      padding-top: var(--space-lg);
    }
    @include media-breakpoint-down('xl') {
      display: block;
    }
  }

  &-img {
    width: 10rem;
    height: auto;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    @include media-breakpoint-down('xl') {
      width: 6.25rem;
      margin: auto;
      margin-bottom: v('space-md');
    }
    img {
      max-width: 100%;
      width: 100%;
    }
  } 
  &-content {
    flex: 1 1 auto;
    padding-left: v('space-lg');

    @include media-breakpoint-down('xl') {
      padding-left: 0;
      text-align: center;
    }

    .text-heading {
      margin-bottom: 1rem;
    }

    a {
      display: inline-block;
      // font-size: v('navlink-text-size');
      font-weight: $font-weight-semibold;
      // margin-top: v('space-lg');
    }
  }

  .h1, h1 {
    @include media-breakpoint-down('md') {
      text-align: center;
    }
  }
}