.#{$namespace}section-companion {

  .#{$namespace}trending-articles {
    .#{$namespace}article-link {
      padding: v('component-padding');
      background-color: #fbfbfb;
      border-radius: $border-radius-xs;
      margin-bottom: $list-group-item-margin-bottom;
      &.active {
        background-color: v('brand-white');
        @include box-shadow($card-box-shadow);

        &:hover {
          @include box-shadow($card-box-shadow-darker);
        }
      }
    }
  }

  .grid {
    margin-top: var(--space-xxl);
    grid-template-columns: minmax(0, 1fr);
    @include media-breakpoint-between('md', 'xlg') {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }
    @include media-breakpoint-up('lg') {
      grid-template-columns: $homepage-fixed-width-lg minmax(0, 1fr);
    }
    @include media-breakpoint-up('xxl') {
      .#{$namespace}homepage-content {
        padding: 0 v('space-xxl');
      }
    }
  }
}