$hc-hero-gradient-start: #1C365F;
$hc-hero-gradient-end: #0060AA;
$hc-news-heading-color: var(--brand-secondary);
$hc-hero-image-negative-offset: 13rem;

$hc-spotlights-width: 36rem;

$hc-section-articles-bg: var(--brand-light-grey);

.#{$namespace}homepage-section {
  @extend 
    %w-100;

  &:not(:first-of-type) {
    margin-bottom: 6rem;
  }
}

.#{$namespace}hero {
  position: relative;
  background-color: $hc-hero-gradient-end;
  padding-top: 4rem;
  
  > .container {
    // background-image: ;

  }
  > * {
    z-index: 1;
    position: relative;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;

    @include scrim-gradient('to bottom',$hc-hero-gradient-start);
  }
}

.#{$namespace}search-container {
  .#{$namespace}search-input {

  }


  .hc-news-heading {
    color: $hc-news-heading-color;
    text-transform: uppercase;
  }
}

.hc-news-content {
  a {
    color: white;
  }
}

.hc-hero-background {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 36%;
  z-index: 0;

  // &::after {
  //   display: block;
  //   content: '';
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   height: 25%;
  //   border-radius: 6rem;
  //   background-color: white;
  // }
}

.#{$namespace}hero-image {
  margin-bottom: -$hc-hero-image-negative-offset;
  > img {
    width: 100%;
    max-width: 600px;
  }
}

.#{$namespace}usp-group {
  margin-top: $hc-hero-image-negative-offset;
}

.#{$namespace}section-articles {
  background-color: $hc-section-articles-bg;

  .test {
    // display: grid;
    // grid: auto auto;
    // width: 1440px;
    // justify-content: center;
    // grid-template-areas: 'hcSpotlights hcTrendingArticles';
  }

  .#{$namespace}spotlights {
    // grid-area: hcSpotlights;
    // grid-column: 1;
  }

  .#{$namespace}trending-articles {
    // grid-area: hcTrendingArticles;
    // grid-column: 2;
  }

  // @media screen and (max-width: $container-max-width('xl')) {

  // }
}

.#{$namespace}section-community {
  background-color: var(--brand-primary);
  color: var(--brand-white);
}