$hc-hero-gradient-start: theme-color('primary');
$hc-hero-gradient-end: #0060AA;
$hc-news-heading-color: theme-color('secondary');

.#{$namespace}homepage-section {
  @extend 
    %w-100;

  
}

.hc-hero {
  position: relative;
  background-color: $hc-hero-gradient-start;

  > * {
    z-index: 2;
    position: relative;
  }

  &::before, &::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    right: 0;
  }

  &::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 222 20'%3E%3Cpath d='M222 20H0l12.3333333-1.625C24.6666667 16.75 49.3333333 13.5 74 9.16328125 98.6666667 4.8671875 123.333333-.6171875 148 .5c24.666667 1.1171875 49.333333 8.6328125 61.666667 12.4617187L222 16.75V20z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
    width: 100%;
    height: 10rem;
    bottom: 0;
  }

  &::after {
    top: 0;
    bottom: 0;
    z-index: 0;
    @include scrim-gradient('to top',$hc-hero-gradient-end);
  }
}

.hc-search-container {
  .hc-search-input {

  }


  .hc-news-heading {
    color: $hc-news-heading-color;
    text-transform: uppercase;
  }

  .hc-news-content {
    a {
      color: white;
    }
  }
}