$navbar-toggler-dimension: 1.5rem;
$navbar-toggler-padding-x: 0;

// Navbar
$navbar-brand-height: '';
$navbar-brand-padding-y: 0;
$navbar-padding-x: v("space-sm"); 
$navbar-padding-y: 0;
$navbar-nav-link-padding-x: v("space-md");
$navbar-nav-link-padding-y: calc(var(--navbar-brand-height) - (var(--navlink-text-size) / 2));
$navbar-toggler-padding-y: 0;

