// Typography
//
// Font, line-height, headings, and more.
$text-scale-ratios: (
  "0": 1.067, "1": 1.125, "2": 1.2, "3": 1.25, "4": 1.333, "5": 1.414, "6": 1.5, "7": 1.618
);

$text-sizes: (
  'xxxl': 1,  'xxl': 2, 'xl': 3, 'lg': 4, 'md': 5,  'sm': 6, 'xs': -1, 'xxs': -2
);


:root,
[data-theme="leap"] {
  // Font Family
  --font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";

  // Body Font Size
  --font-size-base: 0.875rem;

  // Line Height
  --line-height-base: 1.4;
  --line-height-heading: 1.4;

  // Type Scale
  --text-scale-ratio: 1.25;
  --text-scale-ratio-xs: 1.333;
  --text-xxs: calc(var(--font-size-base) / var(--text-scale-ratio-xs));
  --text-xs: calc(var(--font-size-base) / var(--text-scale-ratio-xs) - 0.2);
  --text-sm: calc(var(--font-size-base) * var(--text-scale-ratio));
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));

  --navlink-text-size: 0.875rem;


}

@include media-breakpoint-up('lg') {
  :root {
  --font-size-base: 1rem;
  // --text-scale-ratio: 1.25;
  }
}

@include media-breakpoint-up('ultra') {
  :root {
    --text-scale-ratio: 1.333;
  }
}

// SASS
$line-height-base: 1.4;
$font-family-sans-serif: var(--font-family);
$font-family-base: $font-family-sans-serif;
$font-size-base: var(--font-size-base);

$font-size-lg: v("text-lg");
$font-size-sm: v("text-sm");
$font-size-xs: v("text-xs");

// Font weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-base: $font-weight-normal;
$headings-font-weight: $font-weight-normal;
$btn-font-weight: 600;

$h1-font-size: '';
$h2-font-size: '';
$h3-font-size: '';
$h4-font-size: '';
$h5-font-size: '';
$h6-font-size: '';

$subheading-font-size: '';
$lead-font-size: '';

$btn-font-size-lg: 1rem;

$blockquote-font-size: calc(v("font-size-base") * 0.25);

// $input-btn-font-size: calc(v('font-size-base'));
$input-font-size-lg: v("font-size-base");

$dropdown-font-size: calc(v("font-size-base"));
$progress-font-size: calc(v("font-size-base") * 0.75);
$close-font-size: calc(v("font-size-base") * 1.5);