.#{$namespace}aside-topics {
  .#{$namespace}spotlight-card-thumbnail {
    width: 100%;
  }

  .hc-article-list {
    .hc-article-link {
      border-bottom: none;
      padding: 0;
      margin-bottom: 1rem;
    }
  }
}