.#{$namespace}aside-topics {
  .#{$namespace}spotlight-card {
    flex-flow: column;

    &-thumbnail, .#{$namespace}card-body {
      width: 100%;
    }
  }

  .#{$namespace}article-list {
    .#{$namespace}article-link {
      border-bottom: none;
      padding: 0;
      margin-bottom: 1rem;
    }
  }


  .#{$namespace}topic-list {
    &-link {
      color: v('brand-primary');
      font-weight: $font-weight-semibold;

      &:hover {
        color: v('brand-secondary');
      }
    }
  }

  .#{$namespace}subtopic-list {
    padding-left: v('space-lg');
    margin-bottom: v('space-lg');
    position: relative;

    .#{$namespace}topic-list-link {
      font-size: v('navlink-text-size');
      font-weight: 400;
    }

    &::before {
      content: '';
      position: absolute;
      width: 0.1875rem;
      height: auto;
      top: 0.25rem;
      bottom: 0.25rem;
      left: 0;
      background-color: #efefef;
    }
  }
}