.#{$namespace}layout-aside-main {
  grid-template-columns: 24% 1fr;
  .#{$namespace} {
    &aside {
      .#{$namespace}article-link:not(:hover) {
        .#{$namespace}article-heading {
          color: v('body-text-color')
        }
      }

      .#{$namespace}spotlight-card-thumbnail {
        width: 100%;
      }
    }
    &main {
    }
  }
}