.#{$namespace}prefooter {
  @extend %w-100;
  background-color: #F7F5F6;

  &-title {
    position: relative;
    > * {
      @include media-breakpoint-between('lg','xl') {
        position: absolute;
        bottom: 0;
      }
    }
  }
}