.#{$namespace}article {
  &-title-container {
    .#{$namespace}article-heading {
      font-size: v('text-xl');
      color: v('brand-primary-lighter');
    }
  }
  &-html-container {
    margin-top: v('space-xl');
    margin-bottom: v('space-xl');
  }
}