.#{$namespace}article-list {
  &-item {
    margin-bottom: v('space-lg');
    display: flex;
  }
}

.#{$namespace}article-link {
  display: flex;
  cursor: pointer;

  &:hover .#{$namespace}article-heading {
    color: v('brand-secondary');
  }

  &:hover .#{$namespace}article-subheading {
    color: darken($subheading-color, 20%);
  }
}

.#{$namespace}article-link-append {
  list-style-type: none;
  padding-left: v('grid-gap');
  display: flex;
  margin: 0;
  margin-left: auto;

  &-item {
    @include media-breakpoint-down('sm') {
      flex-flow: column;
    }
    display: flex;
    align-items: center;
    color: $subheading-color;
    font-size: v('navlink-text-size');
    padding: 0 0.5rem;
    text-align: center;

    i {
      width: 1rem;
      height: 1rem;
      display: block;
      margin: 0 0.25rem;
    }
    span {
      margin: 0 0.25rem;
    }
  }
}

.#{$namespace}article-title-container {
  margin-bottom: v('space-xl');
}