.#{$namespace}article-list {
  &-item {
    margin-bottom: v('space-lg');
  }
}

.#{$namespace}article-link {
  display: block;
  cursor: pointer;

  &:hover .#{$namespace}article-heading {
    color: v('brand-secondary');
  }
}

.#{$namespace}article-link-append {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  margin: 0;
  margin-left: auto;

  &-item {
  }
}