.#{$namespace}article-link-group {
  display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-row-gap: v('grid-gap');

  @include media-breakpoint-down('sm') {
    grid-template-columns: 1fr;
  }

  &-item {
    padding: v('component-padding');
    margin-bottom: v('space-md');
    display: grid;
    grid-template-columns: repeat(12,1fr);
    border-bottom: 1px dotted #e3e3e3;
  }

  &-name {
    grid-column: span 5;
    padding-right: v('grid-gap');
  }

  &-content {
    grid-column: span 7;
  }
  

  @include media-breakpoint-down('sm') {
    &-name {
      grid-column: span 12;
      padding-right: 0;
    }

    &-content {
      grid-column: span 12;
    } 
  }
}