// Breadcrumb
$breadcrumb-color:                  var(--body-text-color);
$breadcrumb-hover-color:            var(--brand-secondary);
$breadcrumb-active-color:           var(--brand-primary);
$breadcrumb-bg:                     var(--brand-light-grey);
$breadcrumb-padding:                v('space-md') 0;
$breadcrumb-search-padding:         0.25rem 2rem;


.#{$namespace}breadcrumb {
  @extend %w-100;

  list-style: none;
  overflow: hidden;
  font-size: v('text-xs');
  background-color: $breadcrumb-bg;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-links {
    padding: $breadcrumb-padding;
    margin: 0;

    li {
      display: inline;

      &:after {
        padding: 8px;
        content: "\00a0\2192\00a0";
        color: $breadcrumb-color;
      }

      a {
        text-decoration: none;
        color: $breadcrumb-color;

        &:hover {
          color: $breadcrumb-hover-color;
        }
      }

      &:last-child:after {
        content: "";

        &:hover {
          pointer-events: none;
        }
      }
    }
  }

  input[type="text"] {
    width: 27.5rem;
    padding: $breadcrumb-search-padding;
    border: 1px solid #ccc;
    border-radius: 999px;
    // box-sizing: border-box;
    float: right;
    outline: none;
    font-size: $font-size-xs;
    background-image: $search-icon;
    background-repeat: no-repeat;
    background-position: 7px 7px;
  }
}
