.#{$namespace}breadcrumb {
  @extend %w-100;

  list-style: none;
  overflow: hidden;
  font-size: v('text-xs');
  background-color: $breadcrumb-bg;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down('md') {
      padding: 0;
      flex-flow: column;
      align-items: flex-start;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: auto;
      width: 4.5rem;
      z-index: 1;
      @include gradient-x(transparent,$breadcrumb-bg);
    }
  }

  &-links {
    position: relative;
    padding: $breadcrumb-padding;
    margin: 0;
    white-space: nowrap;
    max-width: 100%;
    overflow-x: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    touch-action: auto;
    z-index: 0;

    &::-webkit-scrollbar {
      width: 0 !important;
      height: 0 !important;
    }

    @include media-breakpoint-down('md') {
      padding-left: v('grid-gap');
      padding-right: v('grid-gap');
    }

    li {
      display: inline;

      &:after {
        padding: 0.5rem 0.25rem;
        content: "\00a0\2192\00a0";
        color: $breadcrumb-color;
      }

      a {
        text-decoration: none;
        color: $breadcrumb-color;
        font-size: v('navlink-text-size');

        &:hover {
          color: $breadcrumb-hover-color;
        }
      }

      &:last-child:after {
        content: '';
        &:hover {
          pointer-events: none;
        }
      }
    }
  }
}
