.#{$namespace}breadcrumb {
  @extend %w-100;

  list-style: none;
  overflow: hidden;
  font-size: v('text-xs');
  background-color: $breadcrumb-bg;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-links {
    padding: $breadcrumb-padding;
    margin: 0;

    li {
      display: inline;

      &:after {
        padding: 0.5rem 0.25rem;
        content: "\00a0\2192\00a0";
        color: $breadcrumb-color;
      }

      a {
        text-decoration: none;
        color: $breadcrumb-color;
        font-size: v('navlink-text-size');

        &:hover {
          color: $breadcrumb-hover-color;
        }
      }

      &:last-child:after {
        content: "";

        &:hover {
          pointer-events: none;
        }
      }
    }
  }

  input[type="text"] {
    width: 27.5rem;
    padding: $breadcrumb-search-padding;
    border: 0.0625rem solid #ccc;
    border-radius: 4rem;
    float: right;
    outline: none;
    font-size: v('navlink-text-size');
    background-image: $search-icon;
    background-repeat: no-repeat;
    background-position: 0.75rem calc(50% - 0.0625rem);
    // @include box-shadow(none);

    &:focus {
      box-shadow: 0 0 0 1px v('brand-primary-lighter'), inset 0 0 0 1px v('brand-primary-lighter');
      border-color: v('brand-primary-lighter');
    }
  }
}
