
figure {
  margin-bottom: 0;
}

.#{$namespace}card {
  position: relative;
  overflow: hidden;
  border-radius: 0.0625rem;
  display: flex;
  flex-wrap: wrap;
  color: inherit;
  background-color: $card-bg-color;

  #{&}-body {
    width: calc(100% - #{$spotlight-card-thumbnail-width});
    flex-grow: 1;
    padding: $spotlight-card-padding;

    > * {
      white-space: normal;
      word-break: break-word;
    }
  }

  #{&}-heading {
    width: calc(100% - #{$spotlight-card-thumbnail-width});
    flex-grow: 1;
    padding: $spotlight-card-padding;
    padding-bottom: 0;
  }

}

.#{$namespace}card-line {
  // &::before, &::after {
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: $card-border-top;
    background-color: $card-border-top-color;
    z-index: 1;
  }
}