.#{$namespace}global-footer {
  @extend %w-100;
  background-color: v('brand-grey-dark');
  color: v('footer-link-color');

  a:not(:hover) {
    color: v('footer-link-color');
  }

  &-test {
    display: flex;
    justify-content: center;
  }

  &-top {
    padding: calc(var(--text-xxl)) 0;
    .grid {
      grid-row-gap: v('space-lg');
      @include media-breakpoint-up('md') {
        grid-template-columns: repeat(2, 1fr);
      }

      @include media-breakpoint-up('lg') {
        grid-template-columns: 25% repeat(3, 1fr);
      }

      @include media-breakpoint-between('md','lg') {
        grid-template-columns: 20rem repeat(3, 1fr);
      }
    }

    .#{$namespace}footer-nav-heading {
      color: v('brand-white');
      text-transform: uppercase;
      letter-spacing: 0.0625rem;
      margin-bottom: v('space-md');
    }
  }

  &-bottom {
    background-color: v('brand-grey-darker');
    align-items: center;
    padding: v('space-md') 0;

    .#{$namespace}footer-bottom-links {
      > * {
        &:not(:last-child)::after {
          content: '|';
          display: inline-block;
          padding: 0 0.5rem;
          color: v('footer-link-color') !important;
        }
      }
    }
  }

  .#{$namespace}social-col {
    margin-top: v('space-xl');
  }

  .#{$namespace}social-col-heading {
    color: v('brand-light');
    font-weight: 400;
    margin-bottom: v('space-sm');
  }

  .#{$namespace}social-col-text {
  }

  .#{$namespace}top-footer-nav-links {
    list-style-type: none;
    font-size: v('navlink-text-size');
    padding: 0;
    margin: 0;
    li {
      margin-bottom: v('space-sm');
    }
  }

  .#{$namespace}footer-logo {
    width: 8rem;
    height: auto;
    img {
      max-width: 100%;
    }
  }
}