.container {
  position: relative;
  @include create-container();
  @include make-container-max-widths();
}

.grid {
  display: grid;
  display: -ms-grid;
  grid-gap: v('grid-gap');
}

.grid-aside-main {
  grid-template-columns: repeat(12,minmax(0,1fr));
  grid-row-gap: v('grid-gap');
  > * {
    grid-column: span 12;
  }
  @include media-breakpoint-up('lg') {
    > *:first-child { grid-column: span 4; }
    > *:last-child { grid-column: span 8; }
  }

  @include media-breakpoint-up('xl') {
    > *:first-child { grid-column: span 3; }
    > *:last-child { grid-column: span 9; }
  }
}

.grid-three-col {
  grid-template-columns: minmax(0,1fr);
  grid-row-gap: v('space-md');
  @include media-breakpoint-up('md') {
    grid-template-columns: repeat(3, minmax(0,1fr));
  }
}