.container {
  position: relative;
  @include create-container();
  @include make-container-max-widths();
}

.grid {
  display: grid;
  display: -ms-grid;
  grid-gap: v('grid-gap');
}

.grid-aside-main {
  grid-template-columns: repeat(12,1fr);

  @include media-breakpoint-up('lg') {
    > *:first-child { grid-column: span 3; }
    > *:last-child { grid-column: span 9; }
  }

  @include media-breakpoint-up('xl') {

  }
}

.grid-three-col {
  
}