
.#{$namespace}ico-search {
  display: block;
  line-height: 1;
  font-size: 150%;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 1.25rem;
  @include transform(rotate(-45deg));

  &::before, &::after {
    display: block;
    content: '';
    @include transition(all, $easing);
  }

  &::before {
    width: $search-dimension;
    height: $search-dimension;
    border-radius: 100%;
    @include box-shadow(0 0 0 $search-stroke-width v('brand-primary-lighter') inset);
  }

  &::after {
    display: block;
    background-color: v('brand-primary-lighter');
    width: $search-stroke-width + 0.01;
    height: 0.35em;
    margin: auto;
    margin-top: -1px;
  }
}

.#{$namespace}search-input {
  position: relative;

  &::before {
    content: '';
    width: 1rem;
    height: 1rem;
    z-index: 1;
    position: absolute;
    top: calc(50% - 0.5rem);
    left: 1rem;
    bottom: 0;
    background-color: transparent;
    background-image: $search-icon;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .form-control {
    font-size: 1rem;
    margin-bottom: v('space-xxl');
    height: 3rem;
    padding-left: 2.6rem;
    padding-right: 1rem;
    @include box-shadow(0 0 0 0 transparent);
    @include transition(all, $easing);

    &::placeholder {
      font-size: v('font-size-base');
      color: $input-placeholder-color;
    }

    &:focus {
      @include transition(all, $easing);
      border-color: #789bca;
      @include box-shadow(0 0 0 0.125rem #789bca);
    }

    &:hover {
      & +.#{$namespace}ico-search {
        &::before {
          @include transition(all, $easing);
          @include box-shadow(0 0 0 $search-stroke-width v('brand-primary') inset);
        }
        &::after {
          @include transition(all, $easing);
          background-color: v('brand-primary');
        }
      }
    }
  }
}

.#{$namespace}search-input-secondary {
  z-index: 1;
  .form-control {
    width: 27.5rem;
    padding: $breadcrumb-search-padding;
    border: 0.0625rem solid #ccc;
    border-radius: 4rem;
    outline: none;
    font-size: v('navlink-text-size');
    background-image: $search-icon;
    background-repeat: no-repeat;
    background-size: 0.875rem;
    background-position: 0.75rem calc(50% - 0.0625rem);
    z-index: 2;

    &:focus {
      box-shadow: 0 0 0 1px v('brand-primary-lighter'), inset 0 0 0 1px v('brand-primary-lighter');
      border-color: v('brand-primary-lighter');
    }
  }

  @include media-breakpoint-down('md') {
    background-color: v('brand-white');
    width: 100%;
    padding: v('font-size-base') v('grid-gap');

    > .form-control {
      width: 100%;
    }
  }
}
