//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  @extend %headings;
}

@function getMarginBottom($headingNumber) {
  @if $headingNumber < 3 {
    @return v('space-xl');
  }
  @else {
    @return v('space-lg');
  }
}


@each $text-size, $headingNumber in $text-sizes {
  @if $headingNumber > 0 {
    h#{$headingNumber}, .h#{$headingNumber} {
      font-size: v('text-#{$text-size}');
      line-height: 1.4;
      margin-bottom: getMarginBottom($headingNumber);
    }
  }
}

.small {
  font-size: v('text-xs');
}

.list-unstyled {
  @include list-unstyled;
}

.text-primary-lighter {
 color: $text-primary-lighter;
}

.text-muted {

}

.text-secondary {
  color: $text-secondary; 
}

.text-bold {
  font-weight: $font-weight-semibold !important;
}