.#{$namespace}user {
  &-info {
    display: flex;
    align-items: center;

    &-group {
      margin-left: 0.875rem;
    }
  }

  &-avatar {
    width: v('text-xl');
    height: v('text-xl');
    font-size: v('text-xs');
    border-radius: 50%;
    line-height: v('text-xl');
    color: v('brand-white');
    text-align: center;
    text-transform: uppercase;
    background-color: v('brand-secondary');
  }

  &-name {
    display: block;
    font-size: v('text-xs');
    font-weight: $font-weight-semibold;
    margin-bottom: 0.25rem;
  }

  &-timestamp {
    display: block;
    font-size: v('text-xxs');
    color: v('brand-label-grey')
  }
}