.#{$namespace}followup-card {
  $cardHasHover: false;
  @include card-shadow($cardHasHover);

  &::before {
    background-color: v('brand-primary-lighter');
  }

  &-content {
    @extend %d-flex, %align-items-center;
    // min-width: 40rem;
    max-width: 36rem;
    margin: auto;
  }

  // .grid {
  //   align-items: center;
  //   grid-template-columns: 1fr 1fr;
  // }
}