.#{$namespace}followup-card {
  $cardHasHover: false;
  @include card-shadow($cardHasHover);

  &::before {
    background-color: v('brand-primary-lighter');
  }

  &-content {
    @extend %d-flex, %align-items-center;
    max-width: 50rem;
    margin: auto;

    @include media-breakpoint-down('md') {
      text-align: center;
    }
  }

  &-hotjar {
    margin-top: v('space-xxl');
    margin-bottom: v('space-xxl');
  }
}