.#{$namespace}question-card {
  background-color: $card-bg-gray;

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 5rem;
    height: 7rem;
    opacity: 0.25;
    background-image: $question-card-bg;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;

    bottom: 2rem;
    right: 1rem;

    @include media-breakpoint-up('md') {
      top: 2rem;
      right: 1rem;
    }
  }

  > * {
    position: relative;
    z-index: 1;
  }

  @include media-breakpoint-up('md') {
    .#{$namespace}card-body {
      padding-right: v('space-xxl');
    }
  }

  .#{$namespace}article-heading {
    margin-bottom: v('space-lg');
  }
}

.#{$namespace}card-meta-info {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  > li {
    font-size: v('navlink-text-size');
    display: inline-block;

    &:not(:last-of-type)::after {
      content: '\2022';
      padding: 0 0.5rem;
      display: inline-block;
    }
  }
}