.#{$namespace}question-card {
  $cardHasHover: false;
  @include card-shadow($cardHasHover);
  background-image: $question-card-bg;
  background-repeat: no-repeat;
  background-position: 95% 0%;

  .#{$namespace}card-body {
    padding-right: v('space-xxl');
  }

  .#{$namespace}article-heading {
    margin-bottom: v('space-lg');
  }
}

.#{$namespace}card-meta-info {
  list-style-type: none;
  margin-bottom: 0;
  > li {
    font-size: v('navlink-text-size');
    display: inline-block;

    &:not(:last-of-type)::after {
      content: '\2022';
      padding: 0 0.5rem;
      display: inline-block;
    }
  }
}