.#{$namespace}spotlights {
  display: grid;
  grid-row-gap: v('space-md');
}

.#{$namespace}spotlight-card {
  $cardHasHover: true;
  @include card-shadow($cardHasHover);

  flex-wrap: wrap;

  &:hover {
    > * {
      text-decoration: none;
    }
  }

  #{&}-thumbnail {
    width: $spotlight-card-thumbnail-width;
    height: auto;
    min-height: $spotlight-card-thumbnail-width;
    background-size: cover;
    background-position: center center;
    background-color: var(--brand-grey);
    margin-top: -$card-border-top;
  }

  .#{$namespace}article-heading {
    font-size: v('text-md') !important;
    margin-bottom: v('space-md');
  }

  .#{$namespace}article-tagline {
    overflow: visible;
    white-space: initial;
  }

  &::before {
    width: 100%;
  }
}