.#{$namespace}spotlights {
  display: grid;
  grid-row-gap: v('space-md');
}

.#{$namespace}spotlight-card {
  flex-wrap: wrap;

  #{&}-thumbnail {
    width: $spotlight-card-thumbnail-width;
    height: auto;
    min-height: $spotlight-card-thumbnail-width;
    background-size: cover;
    background-position: left center;
    background-color: var(--brand-grey);
    background-repeat: no-repeat;
  }

  .#{$namespace}article-heading {
    font-size: v('text-md') !important;
    color: v('brand-black');
    margin-bottom: v('space-md');
  }

  .#{$namespace}article-tagline {
    overflow: visible;
    white-space: initial;
    margin-top: auto;
  }

  &::before {
    width: 100%;
  }
}