.#{$namespace}article {
  &-heading {
     margin-bottom: 0;
  }
  &-subheading {
    //  
  }
  &-text {

  }
}

.list-group {
  .list-group-item {
    margin-bottom: $list-group-item-margin-bottom;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}