.#{$namespace}article {
  &-heading {
    color: v('brand-black');
  }
  &-subheading {
    display: block;
    font-size: v('text-xs');
    font-weight: $font-weight-semibold;
    text-transform: uppercase;
    color: $subheading-color;
  }
  &-text {
    margin-bottom: 0;
    color: $body-color;
  }
}

.#{$namespace}article-list {
  > * {
    &:not(:last-child) {
      margin-bottom: v('grid-gap');
    }
  }
}

.#{$namespace}article-bullet-list {
  > * {
    &::before {
      content: '';
      position: relative;
      display: inline-block;
      width: 0.5rem;
      height: 0.5rem;
      margin: 0 v('space-sm') 0 0.0625rem;
      background-size: contain;
      background-position: center center;
      background-repeat: none;
      top: -0.0625rem;
      vertical-align: middle;
      background-image: $bullet-bg;
    }
  }
}