.#{$namespace}article {
  &-heading {
    margin-bottom: 0;
  }
  &-subheading {
    display: block;
    font-size: v('text-xs');
    font-weight: $font-weight-semibold;
    text-transform: uppercase;
    color: $subheading-color;
  }
  &-text {
    margin-bottom: 0;
  }
}