@import 'http://fonts.googleapis.com/css?family=Lato:400&text=HelpCntrELPNTR';

.#{$namespace}global-header {
  @extend 
    %w-100;
  background-color: var(--brand-primary);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: $zindex-fixed;

  .navbar {
    @include media-breakpoint-down('lg') {
      padding-right: 0;
    }
    @include media-breakpoint-up('lg') {
      display: grid;
      display: -webkit-grid;
      grid-template-columns: auto 1fr auto;
      -webkit-grid-template-columns: auto 1fr auto;
    }
  }

  .navbar-nav {
    width: 100%;
  }
  
  .nav-item {
    height: 100%;
  }

  .nav-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: v('navlink-text-size');
    line-height: 1;
    padding-top: $navbar-nav-link-padding-y;
    padding-bottom: $navbar-nav-link-padding-y;
    position: relative;

    &:hover {
      background-color: $navbar-dark-hover-bg;
    }

    &.active {
      &::before {
        content: '';
        position: absolute;
        height: $navbar-dark-active-border-width;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $navbar-dark-active-border-bg;
      }
    }

    @include media-breakpoint-down('md') {
      padding-left: $navbar-nav-link-padding-x;
      padding-right: $navbar-nav-link-padding-x;

      &.active::before {
        width: $navbar-dark-active-border-width;
        height: auto;
        top: 0;
      }
    }
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    margin-right: 0;
    height: v('navbar-brand-height');
  }

  .navbar-brand-img {
    width: auto;
    height: 100%;

    // Help Center text
    + span {
      font-family: 'Lato';
      font-size: 1.2rem;
      font-weight: 400;
      color: $navbar-text-color;
      text-transform: uppercase;
      line-height: 1;
      margin-left: 1rem;
      padding-left: 1rem;
      display: block;
      position: relative;

      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 0.0625rem;
        top: -0.25rem;
        bottom: -0.25rem;
        left: 0;
        background-color: $navbar-text-color;
      }

      @include media-breakpoint-down('sm') {
        display: none;
      }
    }
  }

  .navbar-toggle {
    border: none;
    outline: none;
    position: relative;
    line-height: 1;
    display: inline-flex;

    &:active {
      background-color: v('brand-primary-darker');
    }

    @include media-breakpoint-up('lg') {
      display: none;
    }
  }

  @include media-breakpoint-down('lg') {
    .navbar-collapse.expanded {
      display: flex;
      background-color: v('brand-primary');
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      padding: v('space-md');
      overflow-y: auto;
      align-items: start;
    }

    .no-scroll {
      position: fixed;
      overflow-y: scroll;
    }
  }

  @include media-breakpoint-up('lg') {
    .navbar-toggle { display: none; }
  }
}