
.#{$namespace}global-header {
  @extend 
    %w-100;
  
  background-color: var(--brand-primary);
  .nav-item {
    height: 100%;
  }

  .nav-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: $nav-link-font-size;
    padding-top: $navbar-nav-link-padding-y;
    padding-bottom: $navbar-nav-link-padding-y;
    position: relative;

    &:hover {
      background-color: $navbar-dark-hover-bg;
    }

    &.active {

      &::before {
        content: '';
        position: absolute;
        height: $navbar-dark-active-border-width;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $navbar-dark-active-border-bg;
      }
    }
  }

  .navbar-brand {
    // @extend 
    //   %d-flex,
    //   %mx-auto;

    width: 16rem;
    // align-items: center;
  }

  .navbar-brand-img {
    width: 100%;
  }
  .navbar-toggler-icon {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .navbar-toggler {
    border: none;
    outline: none;
    position: relative;
    width: $navbar-toggler-dimension;
    height: $navbar-toggler-dimension - .1;

    @include make-toggler-status();
  }
}