$foot-nav-link-color: #9C9C9C;

.#{$namespace}global-footer {
  @extend 
    %w-100;
    background-color: #303030;
    color:#9C9C9C;
    padding: 2.25rem 0rem 0rem 0rem;
    
    
    h3 {
      color: #FFFFFF;
      font-size: 1.5rem;
      padding-top: 2.5rem;
    }

    h5 {
      color: #FFFFFF;
      text-transform: uppercase;
      font-size: 0.875rem;
      
    }

    .footer-nav-links {
      list-style: none;
      font-size: 0.875rem;
      margin: 0;
      li {
        padding-top: 0.5rem;

        }
        a {
          color:$foot-nav-link-color;
          text-decoration: none;

          &:hover, &:active {
            color: #FFFFFF;

          }
      }
    }
    .footer-nav {
      padding-left: 0;
    }
    p {
        font-size: 0.875rem;
    }
    .twitter {
    
      button {
        margin-top: 1.5rem;
        }
    }


    .hc-copyright {
      background-color: #2a2a2a;
      align-items: center;
      margin-top: 2.25rem;
      padding: 1rem;
      p {
        margin-bottom: 0;

      }
      
      
    }

    .btn-outline-light {
      text-transform: uppercase;

    }
    .logo {
      padding: 0rem 0rem 2.25rem 0rem;

      svg {
        width: 9rem;
        height: auto;
     
      }
    }
    

}

/* padding: 1rem 0rem 0rem 0rem;*/