
.container {
  @include make-container();
  @include make-container-max-widths();
}


// header, footer {
//   grid-column: 1 / -1;
//   clear: both;
// }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: $spacer;
  > .hc-trending-articles {
    grid-column: 2 / span 2;
  }
}