.container {
  @include create-container();
  @include make-container-max-widths();
}

.grid {
  display: grid;
  display: -ms-grid;
  grid-column-gap: $spacer;
}

.grid-gap-responsive {
  grid-column-gap: v('grid-gap');
}

@include grid-columns-classes();