//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  // margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}


h1, .h1 { font-size: $h1-font-size }
h2, .h2 { font-size: $h2-font-size }
h3, .h3 { font-size: $h3-font-size }
h4, .h4 { font-size: $h4-font-size }
h5, .h5 { font-size: $h5-font-size }
h6, .h6 { font-size: $h6-font-size }

.lead {

}


.list-unstyled {
  @include list-unstyled;
}

h1 {
  font-weight: $font-weight-light;
}


.subheading {
  display: block;
  font-size: $subheading-font-size;
  text-transform: uppercase;
  color: $subheading-color;
  letter-spacing: 0.0625rem;
  margin-bottom: var(--space-xs);
}