h1 {
  font-weight: $font-weight-light;
}

@for $i from 1 through 6 {
  h#{$i} {
    > small {
      display: block;
      font-size: $subheading-font-size;
      text-transform: uppercase;
      color: $subheading-color;
    }
  }
}

a {

}
