//
// Headings
//
%headings {
  display: block;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: v('line-height-heading');
  color: $headings-color;
}

$text-sizes: (
  'xxl': 1, 
  'xl': 2,
  'lg': 3,
  'md': 4,
  'sm': 5, 
  'xs': 6
);

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  @extend %headings;
}

@function getMarginBottom($headingNumber) {
  @if $headingNumber < 3 {
    @return v('space-xl');
  }
  @else {
    @return v('space-md');
  }
}

@each $text-size, $headingNumber in $text-sizes {
  h#{$headingNumber}, .h#{$headingNumber} {
    // font-size: v('text-#{$text-size}');
    @if $headingNumber < 5 {
      font-size: v('text-#{$text-size}');
    }
    @else {
      @if $headingNumber == 5 {
        font-size: v('font-size-base');
      }
      @else {
        font-size: 0.875rem;
      }
    }

    margin-bottom: getMarginBottom($headingNumber);
  }
}

h1, .h1 {
  font-weight: $font-weight-light;
}

@include media-breakpoint-down('md') {
  @each $text-size, $headingNumber in $text-sizes {
    h#{$headingNumber}, .h#{$headingNumber} {
      @if $headingNumber < 3 {
        margin-bottom: getMarginBottom($headingNumber + 2);
      }
    }
  }
}

.subheading {
  display: block;
  font-size: $subheading-font-size;
  font-weight: $font-weight-semibold;
  text-transform: uppercase;
  color: $subheading-color;
  letter-spacing: 0.0625rem;
}

.lead {

}


.list-unstyled {
  @include list-unstyled;
}

.text-primary-lighter {
 color: $text-primary-lighter;
}

.text-secondary {
  color: $text-secondary; 
}