@mixin custom-button-variant($variant, $text-color) {
  color: var(--brand-#{$text-color});
  background-color: var(--brand-#{$variant});
  border-color: var(--brand-#{$variant}-darker);

  @include hover {
    color: var(--brand-#{$text-color});
    background-color: var(--brand-#{$variant}-darker);
    border-color: var(--brand-#{$variant}-darker);
  }

  &:focus,
  &.focus {
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
  }
}

@mixin custom-button-outline-light() {
  background-color: transparent;
  color: var(--brand-light);
  border-color: var(--brand-light);

  @include hover {
    color: var(--brand-secondary);
    // background-color: $active-background;
    border-color: var(--brand-secondary);
  }

  &:focus,
  &.focus {
    // box-shadow: 0 0 0 $btn-focus-width rgba($color, .5);
  }

  &.disabled,
  &:disabled {
    // color: $color;
    // background-color: transparent;
  }
}