@mixin grid-columns-classes() {
  @for $i from 1 through $columns {
    .grid-#{$i} {
      $template-columns: ();
      @for $t from 1 through $i {
        $template-columns: append($template-columns, 1fr, space);
      }

      grid-template-columns: $template-columns;
      -ms-grid-template-columns: $template-columns;
    }
  }
}

@mixin create-container() {
  width: 100%;
  padding-right: v('container-padding');
  padding-left: v('container-padding');
  margin-right: auto;
  margin-left: auto;
}