@mixin scrim-gradient($direction: 'to bottom', $startColor: black) {
  
  $scrimCoordinates: (
    0: 1,
    19: 0.738,
    34: 0.541,
    47: 0.382,
    56.5: 0.278,
    65: 0.194,
    73: 0.126,
    80.2: 0.075,
    86.1: 0.042,
    91: 0.021,
    95.2: 0.008,
    98.2: 0.002,
    100: 0
  );
  
  $hue: hue($startColor);
  $saturation: saturation($startColor);
  $lightness: lightness($startColor);
  $stops: ();
  
  @each $colorStop, $alphaValue in $scrimCoordinates {
    $stop: hsla($hue, $saturation, $lightness, $alphaValue) percentage($colorStop/100);
    $stops: append($stops, $stop, comma);
  }
  
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 222 20'%3E%3Cpath d='M222 20H0l12.3333333-1.625C24.6666667 16.75 49.3333333 13.5 74 9.16328125 98.6666667 4.8671875 123.333333-.6171875 148 .5c24.666667 1.1171875 49.333333 8.6328125 61.666667 12.4617187L222 16.75V20z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E"), linear-gradient(unquote($direction), $stops);
  
}