.#{$namespace}usps {
  // margin-top: $hc-hero-image-negative-offset;
  &-group {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    @include media-breakpoint-down('sm') {
      grid-template-columns: 1fr;
    }
  }

  &-item {
    grid-template-columns: 1fr 1fr;
    // @include media-breakpoint-down('sm','md') {
    //   grid-template-columns: 1fr;
    // }
    // @include media-breakpoint-between('sm','md') {
    //   grid-template-columns: 1fr;
    // }
  }

  &-img {
    img {
      width: 100%;
    }
  } 
  &-content {
    p {

    }

    a {
      display: block;
      color: v('brand-primary');
      font-weight: $font-weight-semibold;
      margin-top: v('space-lg')
    }
  }
}