$hc-hero-gradient-start: #1C365F;
$hc-hero-gradient-end: #0060AA;
$hc-news-heading-color: var(--brand-secondary);
$hc-hero-image-negative-offset: 13rem;

.#{$namespace}hero {
  position: relative;
  background-color: $hc-hero-gradient-end;
  padding-top: 4rem;
  
  > * {
    z-index: 1;
    position: relative;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;

    @include scrim-gradient('to bottom',$hc-hero-gradient-start);
  }
}

.#{$namespace}search-container {
  .#{$namespace}search-input {

  }


  .hc-news-heading {
    color: $hc-news-heading-color;
    text-transform: uppercase;
  }
}

.hc-news-content {
  a {
    color: white;
  }
}

.hc-hero-background {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 36%;
  z-index: 0;

  // &::after {
  //   display: block;
  //   content: '';
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   height: 25%;
  //   border-radius: 6rem;
  //   background-color: white;
  // }
}

.#{$namespace}hero-image {
  margin-bottom: -$hc-hero-image-negative-offset;
  > img {
    width: 100%;
    max-width: 600px;
  }
}