$hc-spotlights-width: 36rem;
$hc-section-articles-bg: var(--brand-light-grey);

.#{$namespace}section-articles {
  background-color: $hc-section-articles-bg;

  .#{$namespace}spotlights {

  }

  .#{$namespace}trending-articles {

  }
}