$hc-hero-gradient-start: #1C365F;
$hc-hero-gradient-end: #0060AA;
$hc-news-heading-color: var(--brand-secondary);
$hc-hero-image-negative-offset: 13rem;
$hc-hero-title-mbottom: v('space-lg');

.#{$namespace}hero {
  position: relative;
  background-color: $hc-hero-gradient-end;
  padding-top: 4rem;
  
  > * {
    z-index: 1;
    position: relative;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;

    @include scrim-gradient('to bottom',$hc-hero-gradient-start);
  }
}

.#{$namespace}search-container {
  h1 {
    margin-top: 0;
    margin-bottom: $hc-hero-title-mbottom;
  }
  .#{$namespace}search-input {

  }


  .hc-news-heading {
    color: $hc-news-heading-color;
    text-transform: uppercase;
  }
}

.hc-news-content {
  a {
    color: white;
  }
}

.hc-hero-background {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 36%;
  z-index: 0;
}

.#{$namespace}hero-image {
  > img {
    width: 100%;
    max-width: 600px;
  }
}