$hc-spotlights-width: 36rem;
$hc-section-articles-bg: var(--brand-light-grey);
$hc-pinned-bg: v('brand-white');
$hc-heading-color: v('brand-primary');
$hc-text-color: $body-color;
$hc-list-group-item-link-hover: $card-bg-color;
$hc-pinned-m-bottom: v('font-size-base');

.#{$namespace}section-articles {
  background-color: $hc-section-articles-bg;

  .#{$namespace}spotlights {
    .#{$namespace}spotlight-card-title {

    }
  }

  .#{$namespace}trending-pinned {
    background-color: $hc-pinned-bg;
    margin-bottom: $hc-pinned-m-bottom;
  }

  .grid {
    grid-template-columns: 1fr;
    @include media-breakpoint-between('md', 'xlg',$grid-breakpoints) {
      grid-template-columns: 1fr 1fr;
    }
    @include media-breakpoint-up('lg',$grid-breakpoints) {
      grid-template-columns: 30rem 1fr;
    }
  }
}