$hc-hero-gradient-start: #1C365F;
$hc-hero-gradient-end: #0060AA;
$hc-news-heading-color: var(--brand-secondary);
$hc-hero-image-negative-offset: 13rem;
$hc-hero-title-mbottom: v('space-lg');

.#{$namespace}hero {
  position: relative;
  background-color: $hc-hero-gradient-end;
  @include scrim-gradient('to bottom',$hc-hero-gradient-start);
  // padding-top: 4rem;

  &-container {
    @extend 
      %d-flex,
      %align-items-center;
  }

  &-row {
    h1 {
      font-weight: $font-weight-light;
      margin-top: 0;
    }

    .#{$namespace}search-input {

    }
  }

  &-background {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 36%;
    z-index: 0;
  }

  &-image {
    margin-bottom: $homepage-hero-img-offset;
    text-align: right;
    > img {
      width: 100%;
      max-width: 600px;
    }
  }
  
  > * {
    z-index: 1;
    position: relative;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    background-image: $hero-shape-bg;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    opacity: 0.1;
  }
}


.#{$namespace}news-heading {
  color: $hc-news-heading-color;
  text-transform: uppercase;
}

.#{$namespace}news-content {
  a {
    color: white;
  }
}