.#{$namespace}usps {
  // margin-top: $hc-hero-image-negative-offset;

  &-item {
    @extend %d-flex;
    .#{$namespace}-list-item-summary {

    }
  }

  &-img {
    width: 16rem;
    height: auto;
    padding-right: v('component-padding-lg');
  } 
  &-content {
    p {

    }

    a {
      display: block;
      color: v('brand-primary');
      font-weight: $font-weight-semibold;
      margin-top: v('space-lg')
    }
  }
}