@import './homepage-abstract-bg';
@import './homepage-hero';
@import './homepage-usps';
@import './homepage-trending';
@import './homepage-companion-apps';
@import './homepage-community';

// .#{$namespace}trending-articles {
//   .#{$namespace}list-item-summary {
//     h4 {
//       color: $hc-heading-color;
//     }
//     p {
//       color: $hc-text-color;
//       margin-bottom: 0;
//     }
//   }
// }


.grid-3-col-responsive {
  grid-template-columns: 1fr;
  grid-gap: var(--grid-gap);
  @include media-breakpoint-up('md',$grid-breakpoints) {
    grid-gap: var(--grid-gap-lg);
    grid-template-columns: repeat(3,1fr);
  }
}