@import './homepage-hero';
@import './homepage-usps';
@import './homepage-trending';
@import './homepage-companion-apps';
@import './homepage-community';

.#{$namespace}homepage-section {
  @extend 
    %w-100;
  
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.grid-2-col-responsive {
  grid-template-columns: 1fr;
  @include media-breakpoint-up('lg',$grid-breakpoints) {
    grid-template-columns: 1fr 60%;
  }
}