.hc-server-status {
  @extend %d-flex, %align-items-center;

  line-height: 1;
  color: white;
  padding: 0.5rem 0.875rem;
  font-weight: 600;
  font-size: var(--text-xxs);
  text-transform: uppercase;
  background: transparent;
  border-radius: 0.25rem;

  > span {
    display: none;
    margin-left: 0.5rem;
    white-space: nowrap;
    min-width: 3rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @include media-breakpoint-up('sm') {
    margin-right: var(--space-lg);
    > span {
      display: inline-block;
    }
  }

  &::before {
    content: '';
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
  }

  &.okay {
    background-color: $service-background-okay;
    color: $service-color-okay;
    &:hover {
      background-color: darken($service-background-okay,5%);
    }

    // &::before {
    //   @include transform(rotate(45deg));
    //   width: 0.45rem;
    //   height: 0.75rem;
    //   margin-top: -0.25rem;
    //   border-bottom: 0.125rem solid $service-color-okay;
    //   border-right: 0.125rem solid $service-color-okay;
    // }

    &::before {
      background-color: lighten(saturate($service-background-okay,70%),10%);
    }
  }

  &.warning {
    background-color: $service-background-warning;
    color: $service-color-warning;
    &:hover {
      background-color: darken($service-background-warning,5%);
    }
    &::before {
      background-color: lighten(saturate($service-background-warning,70%),40%);
    }
  }

  &.danger {
    background-color: $service-background-danger;
    color: $service-color-danger;
    &:hover {
      background-color: darken($service-background-danger,5%);
    }
    &::before {
      background-color: lighten(saturate($service-background-danger,30%),38%);
    }
  }
}