.hc-server-status {
  line-height: 1;
  color: white;
  padding: 0.4rem 0.6rem;
  background-color: v('brand-primary-lighter');
  margin-right: $navbar-nav-link-padding-x;
  font-weight: 400;
  text-transform: uppercase;

  &::before {
    display: inline-block;
    content: '';
    border-radius: 4rem;
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0.2rem;
  }

  &.ok::before {
    background-color: v('brand-green');
  }

  &.down {
    
  }

  &.issues {
    
  }
  
  &:hover {
    background-color: v('brand-primary-darker');
  }
}